body {
    height: 100vh;
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
{
    box-sizing: border-box
}
}

button {
    width: 250px;
}
#cookiePopup {
    background-color: #ffffff;
    position: absolute;
    font-size: 14px;
    width: 70vw;
    max-width: 42.85em;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    line-height: 1.8em;
    padding: 2em 1.4em;
    border-radius: 6px;
    transition: all 0.5s ease-in;
}
#cookiePopup img {
    display: block;
    width: 3.75em;
    transform: translateZ(0);
    position: relative;
    margin: auto;
}
#cookiePopup p {
    text-align: center;
    margin: 1.4em 0;
}
#cookiePopup button {
    background-color: #6859fe;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
}
#cookiePopup a {
    color: #6859fe;
}
/* Cookie popup */
.cookie-show {
    visibility: visible;
    bottom: 2em;
    right: 2em;
}
.cookie-hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
}

@media only screen and (max-width: 37.5em) {
    #cookiePopup {
        width: 100%;
    }
    .cookie-hide {
        bottom: 2em;
        right: 0;
    }
    .cookie-show {
        right: 0;
        bottom: 0;
    }
}

#ImageIntroduction {
    height: 150px;
    width: 160px;
    margin-top: 150px;
}

#introText {
    font-size: small;
    margin-top: 10px;
    padding-bottom: 30px;
}

.tabContent {
    padding-bottom: 30px;
}

#myName {
}

#HomePage {
    display: none;
}

#PongTitle {
}

#AmbitionTitle {
}

#AmbitionImage {
}

#AmbitionParagraph {
    padding-bottom: 30px;
}

#FirstPersonTitle {
}

#FirstPersonImage {
}

#FirstPersonParagraph {
    padding-bottom: 30px;
}

#MobileGameTitle {
}

#MobileGameImage {
}

#MobileGameParagraph {
    padding-bottom: 30px;
}

#WanderingTitle {
}

#MindfulWanderingImage {
}

#MindfulWanderingParagraph {
    padding-bottom: 30px;
}

#OnTheGoTitle {
}

#OnTheGoImage {
}

#OnTheGoParagraph {
    padding-bottom: 30px;
}

#PointAndClickTitle {
}

#PointAndClickImage {
}

#PointAndClickParagraph {
    padding-bottom: 30px;
}

#BlenderCharacterTitle {
}

#BlenderCharacterImage {
    height: 600px;
    width: 800px;
}

#BlenderCharacterParagraph {
    padding-bottom: 30px;
}

#PongTitle {
}

#PongImage {
}

#PongParagraph {
    margin-bottom: 30px;
}

#ContactPageTitle {
}

#ContactPageParagraph {
    padding-bottom: 30px;
}

/* Dropdown Button */
.dropbtn {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 15px;
    padding: 1em 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: deeppink;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: hotpink;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    left: 125px;
    position: absolute;
    background-color: #f1f1f1;
    width: 250px;
    margin-left: -51%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-style: solid;
    border-width: 3px;
    border-color: #dddddd;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

body {
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 100%;
}

.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 15px;
    padding: 1em 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: deeppink;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, plum 20%, transparent 30%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, plum 15%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
/ / background-position: 0 % 80 %, - 5 % 20 %, 10 % 40 %, 20 % 0 %, 30 % 30 %, 22 % 50 %, 50 % 50 %, 65 % 20 %, 85 % 30 %;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, plum 15%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%),
    radial-gradient(circle, plum 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
/ / background-position: 5 % 90 %, 10 % 90 %, 10 % 90 %, 15 % 90 %, 25 % 90 %, 25 % 90 %, 40 % 90 %, 55 % 90 %, 70 % 90 %;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: plum;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 0% 90%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}


/* Dropdown Button */
.dropbtn {
    background-color: #fc47ab;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #fd87c1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 30px;
}

.imagesRow{
    width: 380px;
    height: 350px;
    margin-top: 20px;
}

#BestWorkParagraph{
    margin-bottom: 20px;
}

#mentalhealthImg{
    width: 500px;
    height: 300px;
}


